.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: #61dafb;
  padding: 10px 0;
  border-bottom: 1px solid #61dafb;

  .nav-item {
    display: flex;
    align-items: center;
    color: #61dafb;
    text-decoration: none;
    margin: 0 20px;

    &:hover {
      text-decoration: underline;
    }

    .mat-icon {
      margin-right: 8px;
    }
  }
}
